input[type="text"] {
  width: 25%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #ff0000;
  color: silver;
  font-size: 30px;
}

form {
  font-size: 30px;
  color: gold;
}

body {
  background-color: #008000;
  color: purple;
  font-size: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  alignheight: 60%;
  width: 35%;
}
